.DS_Store
.idea
/www/core/cache
/db/migrations
/db/localdb
/db/remotedb
/db/dbmigrations
/www/assets/images/products/**\/*
/www/assets/images/resources/**\/*
/db/db.conf
/www/core/components/gitmodx/config
/www/core/components/gitmodx/config.prod
/www/core/components/gitmodx/config.dev
/www/core/config/config.inc.php
/www/assets/files
/www/assets/authfiles
/backup
/www/.well-known
.env
/mysql
/tmp
/logs
